/* Configuration Section */
.gpalab-domain-select {
  display: flex;
  flex-direction: column;
}

.gpalab-domain-select > select {
  width: 25em;
}

.gpalab-domain-select > span {
  margin-top: 0.5rem;
}

/* Live Status Section */
.gpalab-last-update {
  margin: 0;
  padding: 0.25rem 1rem;
}

.gpalab-status-table {
  margin: 0 1rem;
}

/* Manage Buttons */
.gpalab-manage-btns {
  display: flex;
  justify-content: space-between;
}

.gpalab-manage-group {
  display: flex;
}

.gpalab-manage-button.button-secondary {
  margin-right: 5px;
}

.button-danger.button-secondary {
  background-color: #e33637;
  border-color: #b02a2b;
  color: #ffffff;
}

.button-danger.button-secondary:focus,
.button-danger.button-secondary:hover {
  background-color: #c22e2f;
  border-color: #c22e2f;
  color: #ffffff;
}

/* Spinner and progress bar */
.gpalab-index-spinner {
  height: 28px;
  opacity: 0.7;
  position: relative;
}

.gpalab-spinner-animation {
  display: none;
  float: none;
  width: auto;
  height: auto;
  padding: 5px 0 5px 30px;
  background-position: 0;
}

.gpalab-progress-bar {
  display: none;
}

/* Log Section */
.gpalab-log-wrapper {
  display: flex;
  flex-direction: column;
}

.gpalab-log-wrapper-top {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0;
}

.gpalab-feeder-settings-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Growl Notification */
.gpalab-growl {
  background: #e33637;
  border-radius: 5px;
  color: white;
  display: none;
  font-weight: bold;
  left: 50%;
  padding: 1rem 1.5rem;
  position: fixed;
  top: 6rem;
  z-index: 1;
}

/* Shared Styles */
.gpalab-output {
  background-color: #eaeaea;
  border: 1px solid #c3c4c7;
  border-radius: 4px;
  max-width: 100%;
  min-height: 3rem;
  overflow: auto;
  padding: 1rem;
}
